<p id="notice"><%= notice %></p>

<br>
<br>

<h2>Client Management</h2>
<div class="row">
  <div class="col-sm-6">
    <div class="well well-sm">
      Top Clients by Project
      <div class="list-group">
      <li class="list-group-item list-group-item-success">Demotron LLC (2) </li>
      <li class="list-group-item list-group-item-success">Acme Inc (1) </li>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="well well-sm">
      Top Clients by Revenue
      <div class="list-group">
      <li class="list-group-item list-group-item-success"> Acme Inc $120000</li>
      <li class="list-group-item list-group-item-success"> Demotron LLC $ 90000 </li>
      </div>
    </div>
  </div>
  
</div>

<br>
<%= link_to new_client_path, class: "btn btn-primary" do %>
    <span class="glyphicon glyphicon-file"> </span> Create New Client 
    <% end %>
<br>
<br>
<div class="well well-lg">
<table class="table responsive no-wrap" id="clients_table">
  <thead>
    <tr>
      <th>Client</th>
      <th>Primary contact name</th>
      <th>Primary contact email</th>
      <th>Industry</th>
      <th>Account type</th>
      <th> - </th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.primary_contact_name %></td>
        <td><%= client.primary_contact_email %></td>
        <td><%= client.industry %></td>
        <td><%= client.account_type %></td>
        <td><%= link_to client, class: "btn btn-primary btn-sm" do %> <span class="glyphicon glyphicon-eye-open"</span> <% end %>
        <%= link_to edit_client_path(client), class: "btn btn-primary btn-sm" do %> <span class="glyphicon glyphicon-pencil"</span>  <% end %> 
        <%= link_to client, method: :delete, data: { confirm: 'Are you sure you want to delete this Client?' }, class: "btn btn-primary btn-sm" do %> <span class="glyphicon glyphicon-trash"</span>  <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>

<br>


</div>