 <div class="well well-sm">
<%= bootstrap_form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="field">
  <%= f.select :client_id, options_for_select(Client.all.map{|s|[s.name, s.id]}), help: "Every Project in TimeQlip must be associated with an existing Client. Please use the dropdown to select a Client to associate this Project with" %>
</div>
  <div class="field">
    <%= f.text_field :title, help: "Enter a title for this Project" %>
  </div>
  <div class="field">
    <%= f.text_area :description, help: "List objectives and deliverables for this Project" %>
  </div>
  <%= f.form_group do %>
  <div class="field">
    <%= f.text_field :start_date, "data-provide" => 'datepicker', icon: "calendar", help: "When this Project is due to commence" %>
  </div>
  <div class="field">
     <%= f.text_field :due_date, "data-provide" => 'datepicker', icon: "calendar", help: "Assigning an end date lets you identify and report on Projects which are nearing a deadline, or have become overdue" %>
  </div>
  <% end %>
  <div class="field">
    <%= f.select :project_status, options_for_select(["Active", "Inactive", "Escalated"], "Active"), help: "Assign or change a Project's status. Options are Active, Inactive and Escalated" %>
  </div>
  <div class="field">

    <%= f.text_field :project_revenue, :prepend => '$', :append => ".00", help: "Facilitates enhanced cost and profitability reporting for this Project, and Client" %>
  </div>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
