<p id="notice"><%= notice %></p>

<br>
<br>

<h2>Project Management</h2>
<div class="row">
  <div class="col-sm-4">
    <div class="well well-sm">
      <div class="list-group">
      <li class="list-group-item list-group-item-success">0 Escalated Projects </li>
      <li class="list-group-item list-group-item-success">4 Active Projects </li>
      <li class="list-group-item list-group-item-info"> 2 Archived Projects </li>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="well well-sm">
      <div class="list-group">
      <li class="list-group-item list-group-item-info"> 2 Projects started this month</li>
      <li class="list-group-item list-group-item-danger"> 0 Projects Overdue </li>
      <li class="list-group-item list-group-item-warning"> 0 Projects due this month </li>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
  <div class="well well-sm">
     <div class="list-group">
      <li class="list-group-item list-group-item-info"> $350000 Revenue from Active Projects </li>
      <li class="list-group-item list-group-item-info"> $0 Escalated Projects </li>
    </div>
  </div>
</div>
</div>

<br>
<%= link_to  new_project_path,class: "btn btn-primary" do %>
    <span class="glyphicon glyphicon-th-large"> </span> Create New Project 
    <% end %>
<br>
<br>
<div class="well well-lg">
<table class="table responsive no-wrap" id="projects_table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Client</th>
      <th>Start date</th>
      <th>Due date</th>
      <th>Project status</th>
      <th>Project revenue</th>
      <th> Team assigned </th>
      <th> - </th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= link_to project.client.name, client_path(project.client.id), class: "btn btn-info btn-sm" %></td>
        <td><%= project.start_date.strftime("%e %B, %Y") %></td>
        <td><%= project.due_date.strftime("%e %B, %Y") %></td>
        <td><%= project.project_status %></td>
        <td><%= "$" + project.project_revenue.to_s + "0" %></td>
        <td><%= 4 %></td>
        <td><%= link_to project, class: "btn btn-primary btn-sm" do %> <span class="glyphicon glyphicon-eye-open"</span> <% end %>
        <%= link_to edit_project_path(project), class: "btn btn-primary btn-sm" do %> <span class="glyphicon glyphicon-pencil"</span>  <% end %> 
        <%= link_to project, method: :delete, data: { confirm: 'Are you sure you want to delete this Project?' }, class: "btn btn-primary btn-sm" do %> <span class="glyphicon glyphicon-trash"</span>  <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>


