<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @project.start_date %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @project.due_date %>
</p>

<p>
  <strong>Project status:</strong>
  <%= @project.project_status %>
</p>

<p>
  <strong>Project revenue:</strong>
  <%= @project.project_revenue %>
</p>

<p>
  Tasks
</p>
<p>
  <%= @project.tasks.each { |t| puts t.title } %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
