<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= image_tag 'logo1.png', class: "navbar-brand" %>
  </div>
<% if !user_signed_in? %>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "FEATURES", root_path %></li>
      <li><%= link_to "SUPPORT", pages_about_path %></li> 
      <li><%= link_to "BLOG", pages_about_path %></li> 
      <li><%= link_to "TRY FREE", new_user_registration_path %></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<% else %>
<!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to clients_path, class: "btn" do %> <i class="glyphicon glyphicon-file"></i> CLIENTS <% end %></li>
      <li><%= link_to projects_path, class: "btn" do %> <i class="glyphicon glyphicon-th"></i> PROJECTS <% end %></li >
      <li><%= link_to clients_path, class: "btn" do %> <i class="glyphicon glyphicon-user"></i> TEAM <% end %></li>
      <li><%= link_to "#{current_user.email}", edit_user_registration_path %></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
<% end %>